$dark: #2b2b36;
$yellow: #ecaa5b;
$white: #ffffff;
$light: #a2abbd;
$deep-dark: #25252f;

$header-bg: $yellow;
$body-bg: $dark;
$footer-bg: $deep-dark;

$text-light: $white;
$text-dark: $light;
$text-info: $yellow;

$max-width: 640px;

$border-color: rgba($white, 0.1);
