@import '../../styles/variables';

.wrapper {
  display: block;
  background: $body-bg;
  padding: 0 25px;
  :hover {
    cursor: pointer;
  }
  .list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    position: relative;

    &--title,
    &--sub-title {
      font-size: 24px;
      line-height: 1;
      padding: 20px 0;
    }
    &--sub-title {
      font-weight: bold;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .list__content--player {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        margin: 44px 0;
      }
      &--hide {
        max-height: 0;
        transition: all 0.4s ease-in-out;
        opacity: 0;
      }
      &--show {
        min-height: 100px;
        transition: all 0.5s ease-in-out;
        opacity: 1;
      }
    }
  }
  &:last-child {
    .list {
      border-width: 0px;
    }
  }
}
